<div class="container">
  <h1><%= @list.name %></h1>
  <%= simple_form_for(@list) do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <%= f.submit %>
  <% end %>
  <%= link_to 'Get back to list', root_path %>
</div>
